var DateFr = {
  getDate: function (time, year, months, days) {
    if (!time) return '';
    var date = getDate(time);
    var Y = date.getFullYear()
    var M = date.getMonth() + 1;
    var d = date.getDate();
    if (d < 10) d = "0" + d;
    if (months, days)
      return Y + year + M + months + d + days;
    else
      return {
        Y: Y,
        M: M,
        d: d
      };
  },
}

module.exports = {
  getDate: DateFr.getDate
}